<!DOCTYPE html>
<html ng-app="friendsList">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller="mainCtrl">
<main class="main">
<section class="main-content">


  <h1>My friends</h1>

  <input type="text" name="friends" value="" ng-model="newFriend">
  <input ng-click="addFriend()" type="button" name="+Add Friends" value="+ Add Friends">
    <h3>  My friends are: </h3>
  <div ng-repeat="friend in friends">
    <p>
    {{friend}}
    </p>
  </div>
</section>

</main>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <!-- <script src="app/services/mainService.js"></script> -->
  </body>
</html>
